<div class="trait-content">
  <h2 class="pb-2">PERSONALITY TRAITS</h2>
  <div class="text-justify mt-4">
    <div class="row traits-row">
      <div *ngFor="let trait of traitsWithImages; let i = index;" class="card mb-4 col-12">
        <img class="trait-image card-img-top" [src]="trait.image" *ngIf="i<2" />
        <h3 class="card-header">
          {{trait.group}}
        </h3>
        <div class="card-body">

          <div class="card-text">
            <div>
              <h6>{{trait.firstTitle}}</h6> {{trait.firstArticle}}
            </div>
            <div class="mt-3">
              <h6>{{trait.secondTitle}}</h6> {{trait.secondArticle}}
            </div>
          </div>
        </div>
        <img class="trait-image card-img-top" [src]="trait.image" *ngIf="i>=2" />
      </div>
    </div>
  </div>
</div>

<div>
  <h3>What is your Personality Type ?</h3>
  <a [routerLink]="['/personality-test']">Lets find out !</a>
</div>
