<div class="content">
  <h5 class="pb-2">PERSONALITY TRAITS</h5>
  <p class="text-justify">
    Mind:
    Introverted (I) - prefer solitary activities, think before speaking, get
    exhausted by social interaction.
    Extraverted (E) - prefer group activities, think while speaking, get energized
    by social interaction.
    Energy:
    Intuitive (N) - imaginative, rely on their intuition, absorbed in ideas, focus
    on what might happen.
    Sensing (S) - down-to-earth, rely on their senses, absorbed in practical
    matters, focus on what has happened.
    Nature:
    Thinking (T) - tough, follow their minds, focus on objectivity and rationality.
    Feeling (F) - sensitive, follow their hearts, focus on harmony and
    cooperation.
    Tactics:
    Judging (J) - decisive, prefer clear rules and guidelines, see deadlines as
    sacred, seek closure.
    Perceiving (P) - very good at improvising, prefer keeping their options open,
    relaxed about their work, seek freedom.
  </p>
</div>
